.container {
    color: white;
    background: url('./../../images/main-bg.png') top center no-repeat;
    width: 100%;
    min-width: 1000px;
    position: absolute;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    .center {
        margin: 0 auto;
        position: relative;
        width: 1000px;
        .sort {
            text-align: center;
            font-size: 22px;
            line-height: 4;
            .sort-select {
                border-bottom: 3px solid #00d8ff;
                cursor: pointer;
                &:hover {
                    color: #00d8ff;
                }
            }
            .section {
                display: none;
                border-radius: 12px;
                color: #333;
                background: #eee;
                position: absolute;
                border: none;
                margin-left: 253px;
                margin-top: -87px;
                padding-top: 15px;
                text-align: left;
                width: 186px;
                font-size: 14px;
                line-height: 3;
                hr {
                    margin-top: -10px;
                    border: 1px solid #e8e7e6;
                }
                .current {
                    margin-bottom: -27px;
                    margin-top: -10px;
                    font-size: 11px;
                    color: gray;
                    &:hover {
                        cursor: default;
                        background: #eee;
                    }
                }
                .active {
                    font-size: 22px;
                    color: #00d8ff !important;
                    font-weight: bold;
                    &:hover {
                        cursor: default;
                        background: #eee;
                    }
                }
                li {
                    padding-left: 17px;
                    &:hover {
                        background: #e8e7e6;
                        cursor: pointer;
                    }
                }
            }
            .sort {
                display: none;
                border-radius: 12px;
                color: #333;
                background: #eee;
                position: absolute;
                border: none;
                margin-left: 688px;
                margin-top: -87px;
                padding-top: 15px;
                text-align: left;
                width: 186px;
                font-size: 14px;
                line-height: 3;
                hr {
                    margin-top: -10px;
                    border: 1px solid #e8e7e6;
                }
                .current {
                    margin-bottom: -27px;
                    margin-top: -10px;
                    font-size: 11px;
                    color: gray;
                    &:hover {
                        cursor: default;
                        background: #eee;
                    }
                }
                .active {
                    font-size: 22px;
                    color: #00d8ff !important;
                    font-weight: bold;
                    &:hover {
                        cursor: default;
                        background: #eee;
                    }
                }
                li {
                    padding-left: 17px;
                    &:hover {
                        background: #e8e7e6;
                        cursor: pointer;
                    }
                }
            }
        }
        .panel-bg {
            border-radius: 10px;
            box-shadow: 0 0 11px 1px #111;
            background-color: #2b2b2b;
            width: 100%;
            display: inline-block;
            .images-group {
                text-align: center;
                padding: 21px;
                div {
                    background-color: #181817;
                    border: 2px solid #444442;
                    display: inline-block;
                    margin: 4px 2px;
                    position: relative;
                    width: 180px;
                    height: 180px;
                    line-height: 0;
                    a {
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        img {
                            width: 180px;
                            height: 180px;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    }
}
.image-view {
    width: 100%;
    min-width: 1000px;
    position: absolute;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    .image-header {
        padding: 10px 20px;
        background: rgba(38,38,38,.9);
        width: 640px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
        position: relative;
        z-index: 3;
        margin-top: 20px;
        .post-title {
            h1 {
                color: #f2f2f2;
                font-size: 18px;
                line-height: normal;
                text-shadow: none;
                word-wrap: break-word;
                max-height: 120px;
                overflow: hidden;
                font-weight: bold;
                text-align: left;
                background: none;
                background: rgba(38, 38, 38, 0.9);
            }
            h2 {
                color: #B2B2B2;
                font-size: 12px;
                line-height: normal;
                text-shadow: none;
                word-wrap: break-word;
                max-height: 120px;
                overflow: hidden;
                text-align: left;
                background: none;
                background: rgba(38, 38, 38, 0.9);
            }
        }
    }
    .image-desc {
        background: #2E2E2E;
        color: #CCC;
        padding: 20px;
        overflow: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 640px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        text-align: left;
		box-shadow: 0 4px 4px -2px rgba(0,0,0,.2),0 -4px 4px -2px rgba(0,0,0,.2);
    }
	.image-stats{
		background: #2E2E2E;
        color: #CCC;
        padding: 10px;
        overflow: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 660px;
		text-align: center;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
    div {
        text-align: center;
        background: #181817;
        position: relative;
        max-width: 680px;
        margin: 0 auto;
        img {
            max-width: 680px;
            display: block;
            margin: 0 auto;
			box-shadow: 0 4px 4px -2px rgba(0,0,0,.2),0 -4px 4px -2px rgba(0,0,0,.2);
        }
    }
}
